// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
	// A manifest for defining workflow metadata
	// Mandated minimal version of Nextflow required to run pipeline
	// Default workflow parameter definitions
	// Shell behaviour settings for the workflow
	// Execution reports
	// Configuration profiles
	// Default resource definitions for processes

//====================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
manifest {
	author = 'Anna Lorenc'
	name = 'DQ2DQ8'
	description = ''
	
}

// DISABLE conda environment management
conda.enabled = false

// Add miniforge to PATH
env {
    PATH = '/Users/ania/miniforge3/bin:$PATH'
}

process {
    executor = 'local'
    
    // Optional: activate base before each task
    beforeScript = 'source /Users/ania/miniforge3/bin/activate base'
}



// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outdir	= 'results'
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
	standard	{ includeConfig "config/standard.config"}
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	// Set default resources for all processes
	cpus = 2
	memory = 4.Gb
	cache = 'lenient'	
	withName: 'RAREFIED_SHARING' {
        memory = '8.GB'  // Specific for this process
        cpus = 2
        time = '4.h'
    }
	// Set process specific resources
	// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
	// DEMO CODE: DELETE FOR YOUR OWN WORKFLOWS 
	withName: 'check_input' {
		executor = 'local'
	}
	}

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/report.html"
}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
timeline {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/trace.txt"
}